<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repo.UserInfoRepo">


    <insert id="insertBatch">
        insert into user_info (name, number)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name}, #{item.number})
        </foreach>
    </insert>
</mapper>